*{
  padding: 0;
  margin: 0;
  text-decoration: none; /*linias subrayadas*/
  list-style: none; /*puntos de lista*/

  box-sizing: border-box;/* no se salga del contenedor*/

}

body{
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 105px;
  font-family: 'Times New Roman', Times, serif;
  /*background: url(/c4/img/javier-esteban-mIUJZi8a828-unsplash.jpg);*/
  background-size: auto;
  backdrop-filter: blur(100px);
  background-repeat: no-repeat;
}

/*------------------------------titulo-------------------------------*/

 .cabeza{
    background-color: rgb(250, 249, 249);
    font-size: 10px;
    height: 150px;
    padding: 35px;
  }
  .cabeza h1{
    color: rgb(75, 83, 83);
    font-size: 50px;
    
    text-align: center;
    display: flex;
    justify-content:  center;
    font-family: 'Courier New', Courier, monospace;
  }

/*----------------------------Segundo--titulo-------------------------------*/  
  .titulo{
    background-color: rgb(45, 59, 71);
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0 0 150px 150px;
    text-align: center
  }
  .titulo h1{
    font-size: 30px;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 10px;
    color: rgb(227, 227, 227);
    /*align-items: center;*/
  }

  .container{
    background-color: rgb(248, 248, 248);
    border-radius: 20px 20px 10px 10px;

  }
/*----------------------------cuerpo------------------------------*/  

  header{
    background-color: rgb(193, 253, 233);
    width: auto;
    height: 500px;
  }
  
  table{
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px #00000069;
    margin: 0 auto;
    
}


.card{
  text-align: center;
  margin-top: 6px;
  align-items: center;
}
.card-body .card-title{
  color: rgb(67, 150, 173);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.card-body {
  color: rgb(18, 69, 83);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

.seccion th{
  color:  rgb(45, 59, 71);
}


button{
}




/*----------------------------pies-----------------------------*/  
  footer{
    background-color: rgb(47, 47, 47);
    width: auto;
    height: 150px;
  }
  
  .datos{
    
    text-align: right;
    line-height: 10px;
    padding: 40PX 20px 0 0;
    color: rgb(236, 243, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;

    /*
    text-align: center;
    display: flex;
    justify-content:  center;
    */
  }


.mm{
  background-color: rgb(246, 246, 246);
}
.nproducto{
  background-color: rgb(246, 246, 246);
}


  /*https://unsplash.com/photos/mIUJZi8a828*/